h2 {
    color: #0068FF;
    font-weight: 700;
    font-family: Noto Sans CJK KR;
    font-size: 32px; 
    padding-bottom: 39px;
    margin: 0;
}

input {
    font-size: 16px;
}

p {
    padding: 21px 0 34.35px 0;
    margin: 0;
}

.user {
    border: 0;
    border-bottom: 1px solid gray;
    outline: none;
    width : 466px;
}

.user:focus {
    border-bottom-color: blue;
}

.radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50.05px 0;
    margin: 0;
}

.radio-container span {
    padding-right: 30px;
}

.info-in {
    width: 670px;
    height: 960px;
    border: 1px solid #AACDFF;
    border-radius: 20px;
    box-shadow: 7px 7px 39px 0px rgba(0, 104, 255, 0.25);
    box-sizing: border-box;
    padding: 70px 100px 70px 100px;
}

.info {
    height: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chk_agree {
    font-size: 14px;
    padding-bottom: 61px;
}

button {
    width: 470px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid #0068FF;
    color: #0068FF;
    font-size: 18px;
}