* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 46px 46px 29px;
}

.header__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8px;
}

.title {
    color: #55B2E4;
    font-size: 13px;
    font-weight: 700;
}

.subtitle {
    font-size: 8px;
    padding-left: 5px;
}

.deadline {
    width: 100%;
    border-top: 1px solid gray;
    padding-bottom: 20px;
}

.album__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.album__top__title {
    color: #0F465E;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}

.album__top__artist {
    color: #999;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

.wrapper__bottom {
    padding-top: 30px;
}

.album__table {
    width: 100%;
    border-collapse: collapse;
}

.album__table th{
    height: 20px;
    color: #999;
    font-size: 10px;
    font-weight: 700;
    border-top: 1px solid gray;
    border-bottom: 1px dashed gray;
}

.album__table td{
    height: 20px;
    color: #0F465E;
    font-size: 10px;
    font-weight: 400;
    border-bottom: 1px dashed gray;
}

.album__chk {
    text-align: center;
}

.album__no {
    text-align: center;
}

.album__title {
    text-align: left;
}

.album__artist {
    text-align: left;
    vertical-align: middle;
}

input[type="checkbox"] {
    vertical-align: middle;
    width: 9px;
    height: 9px;
}